
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
}

.container{
    background-color:  #E5E5E5;
    width: 100vw;
    height: 1364px;
    padding-top: 100px;
}

.page{
    width: 697px;
    height: 1264px;
    margin: auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.header__page{
    width: 697px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 8px 13px 0px 44px;
    display: flex;
}

.header__page-title{
    width: 63px;
    font-size: 30px;
    line-height: 32px;
    color: #777777;
}

.header__page-subtitle{
    width: 38px;
    font-size: 10px;
    line-height: 11px;
    color: #AAAAAA;
    margin-top: 5px;

}

.header__page__menu-icon{
    margin-top: 10px;
    width: 18px;
    height: 12px;
    margin-left: 503px;
}   

.page__carrossel{
    width: 608px;
    height: 259px;
    margin-top: 20px;
    margin-left: 44px;
    background: url(./assets/image-sala.png);
    display: flex;
    justify-content: space-between;
}

.page__elipse{
    width: 39px;
    height: 39px;
    border-radius: 39px;
    background: rgba(141, 141, 141, 0.62);
    padding-top: 10px;
    padding-left: 14px;
    margin: 110px 12px 0px;
}

.page__destaque{
    margin: 37px 45px 0px 44px;
    display: flex;
    justify-content: space-between;
}

.page__destaque__content{
    width: 256px;
    height: 242px;
    background: #EEEEEE;
}

.page__destaque__image{
    width: 256px;
    height: 144px;
}
.page__destaque__pricing{
    margin-left: 12px;
    margin-right: 13px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
}

.page__destaque__price{
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
}

.page__destaque__rectangle, .page__destaque__rectangle-right{
    width: 56px;
    height: 21px;
    border-radius: 10.5px;
    background: #51D275;
}

.page__destaque__tag {
    font-size: 20px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.page__destaque__text{
    width: 231px;
    font-size: 10px;
    line-height: 10px;
    text-align: justify;
    color: #555555;
    margin: 3px 13px 0px;
}

.page__destaque__rectangle-right {
    background-color: #DC9730;    
}

.sections{
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 44px;
}

.sections_title{
color: #888888;

text-align: center;
margin-top: 45px;

}

.section__rectangle1, .section__rectangle2, .section__rectangle3{
width: 608px;
height: 80px;
margin-top: 13px;
}

.section__text{
    color: #FFFFFF;
    margin-top: 26px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
 
}

.section__rectangle1{
    background-image: url(./assets/image-industrial.png);
    opacity: 0.7;

}
.section__rectangle2{
    background-image: url(./assets/image-modern.png);
    opacity: 0.7;

}
.section__rectangle3{
    background-image: url(./assets/image-classic.png);
    opacity: 0.7;

}

footer{
width: 697px;
height: 243px;
background: #333333;
display: flex;
justify-content: space-between;
margin-top: 57px;
padding: 0px 48px;

font-size: 13px;
line-height: 30px;
text-align: justify;
color: #FFFFFF;

}

.footer__map{
    width: 252px;
    height: 163px;
    border-radius: 19px;
    margin-top: 40px;
}

.footer__text{
    margin-top: 49px;
    width: 180px;
    height: 95px;
}

.footer__group__icon{
    display: flex;
}

.footer__icon{
    margin-right: 17px;
}